@charset "UTF-8";

body{
	margin: 0;
	background-color: #eee;
	color: #444;
}
h1, h2, h3, p, dl, dt, dd, ul{
	margin: 0;
	padding: 0;
	font-size: 100%;
}
a{
	color:#0275d8;
}
header{
  background-color: #fff;
  border-top: 50px #444 solid;
  border-bottom: 1px #A6A6A6 solid;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
}
header div{
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
header h1{
   padding-top: 30px;
   width: 260px;
   float: left;
}
nav{
  width: 640px;
  float: right;
}
header:after{
  display: block;
  content: "";
  clear: both;
}
nav li{
  list-style: none;
  width: 160px;
  float: left;
}
nav ul:after{
  display: block;
  content: "";
  clear: both;
}
nav li a{
  line-height: 80px;
  text-align: center;
  color: #444;
  text-decoration: none;
  display: block;
  transition-duration: 0.5s;
}
nav .nav-contact {
  float: none;
  position: absolute;
  top: -50px;
  right: 0;
}

nav .nav-contact a {
  background-color: #ffc424;
  background-image: url(../img/icn_contact.png);
  background-repeat: no-repeat;
  background-position: 22px 15px;
  line-height: 50px;
  padding-left: 60px;
  text-align: left;
}
nav li a:hover {
  color: #000;
  background-color:#eee;
}
nav li a:focus {
  color: #000;
  background-color:#eee;
}
nav li a:active {
  color: #000;
  background-color:#eee;
}
.container {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 5rem;
  background-color: #fff;
}
main {
  width: 75%;
  float: left;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
aside {
  width: 25%;
  float: right;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
main:after{
  display: block;
  content: "";
  clear: both;
}
aside:after{
  display: block;
  content: "";
  clear: both;
}
